@model IEnumerable<ASI.Basecode.Services.ServiceModels.AmenityViewModel>
@{
    ViewData["Title"] = "Room Amenities Management";
}

<h3>Room Amenities Management</h3>

<div class="mt-sm-4">
    <button style="background-color: var(--color2); color:var(--color1); border:none;" class="btn btn-primary mt-2 mb-2" onclick="openModal('@Url.Action("Create", "Amenity")')">
        <svg style="fill:var(--color1); width: 18px; margin-right: 8px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344l0-64-64 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l64 0 0-64c0-13.3 10.7-24 24-24s24 10.7 24 24l0 64 64 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-64 0 0 64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" /></svg>
        Add New Amenity
    </button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.AmenityName)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var amenity in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => amenity.AmenityName)</td>

                <td style="width:1%; white-space:nowrap;">
                    <button onclick="openModal('@Url.Action("Edit", "Amenity", new { amenityId  = amenity.AmenityId })')" class="btn btn-warning btn-sm pr-0">
                        <svg style="width:15px; margin-right:8px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160L0 416c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-96c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 64z" /></svg>
                    </button>
                    <button style="background-color:var(--color1); border:none;" onclick="openModal('@Url.Action("Delete", "Amenity", new { amenityId = amenity.AmenityId })')" class="btn btn-danger btn-sm pr-0">
                        <svg style="width:15px; margin-right:8px; fill:white;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z" /></svg>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div id="crudModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <!-- Content will be loaded here -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Open modal and load content
        function openModal(url) {
            $.get(url, function (data) {
                $('#crudModal .modal-body').html(data);
                $('#crudModal').modal('show');

                // Initialize client-side validation
                $.validator.unobtrusive.parse('#crudModal .modal-body');
            });
        }

        // Handle form submission within modal
        $(document).on('submit', 'form', function (e) {
            e.preventDefault();
            var form = $(this);
            var formData = new FormData(this);

            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $('#crudModal').modal('hide');
                    location.reload(); // Reload page or update data to reflect changes
                },
                error: function (xhr) {
                    if (xhr.status === 400) { // Bad request due to validation
                        $('#crudModal .modal-body').html(xhr.responseText);
                        $.validator.unobtrusive.parse('#crudModal .modal-body'); // Re-parse validation for new content
                    } else {
                        alert('An error occurred. Please try again.');
                    }
                }
            });
        });
    </script>
}

