@using ASI.Basecode.Services.ServiceModels;
@model IEnumerable<ASI.Basecode.Services.ServiceModels.BookingViewModel>

<table class="table table-striped">
    <thead>
        <tr>
            <th hidden>@Html.DisplayNameFor(model => model.BookingId)</th>
            <th>Room Name</th>
            <th>User Full Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            var isDisabled = booking.Status == "Approved" || booking.Status == "Disapproved" ? "disabled" : "";
            var btnClass = isDisabled == "disabled" ? "btn-secondary" : "btn-success";
            var disapproveBtnClass = isDisabled == "disabled" ? "btn-secondary" : "btn-danger";

            <tr>
                <td hidden>@Html.DisplayFor(modelItem => booking.BookingId)</td>
                <td>@Html.DisplayFor(modelItem => booking.RoomName)</td>
                <td>@Html.DisplayFor(modelItem => booking.UserFullName)</td>
                <td>@Html.DisplayFor(modelItem => booking.FormattedBookingStartDate)</td>
                <td>@Html.DisplayFor(modelItem => booking.FormattedBookingEndDate)</td>
                <td>@Html.DisplayFor(modelItem => booking.Status)</td>
                <td>
                    <button onclick="openModal('@Url.Action("View", "Booking", new { bookingId = booking.BookingId })', 'crudModal1')" class="btn btn-info btn-sm">View</button>
                    <button onclick="openModal('@Url.Action("Approve", "Booking", new { bookingId = booking.BookingId })', 'crudModal1')" class="btn @btnClass btn-sm" @isDisabled>Approve</button>
                    <button onclick="openModal('@Url.Action("Disapprove", "Booking", new { bookingId = booking.BookingId })', 'crudModal1')" class="btn @disapproveBtnClass btn-sm" @isDisabled>Disapprove</button>
                    @* <button onclick="openModal('@Url.Action("Edit", "Booking", new { bookingId = booking.BookingId })', 'crudModal1')" class="btn btn-warning btn-sm">Edit</button> *@
                    @* <button onclick="openModal('@Url.Action("Delete", "Booking", new { bookingId = booking.BookingId })', 'crudModal1')" class="btn btn-danger btn-sm">Delete</button> *@
                </td>
            </tr>
        }
    </tbody>
</table>
