@using ASI.Basecode.Services.ServiceModels;
@model IEnumerable<ASI.Basecode.Services.ServiceModels.BookingViewModel>

<table class="table table-striped">
    <thead>
        <tr>
            <th hidden>@Html.DisplayNameFor(model => model.BookingId)</th>
            <th>Room Name</th>
            <th>User Full Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            var isDisabled = booking.Status == "Approved" || booking.Status == "Disapproved" ? "disabled" : "";
            var btnClass = isDisabled == "disabled" ? "btn-secondary" : "btn-approve-main";
            var disapproveBtnClass = isDisabled == "disabled" ? "btn-secondary" : "btn-disapprove-main";

            <tr>
                <td hidden>@Html.DisplayFor(modelItem => booking.BookingId)</td>
                <td>@Html.DisplayFor(modelItem => booking.RoomName)</td>
                <td>@Html.DisplayFor(modelItem => booking.UserFullName)</td>
                <td>@Html.DisplayFor(modelItem => booking.FormattedBookingStartDate)</td>
                <td>@Html.DisplayFor(modelItem => booking.FormattedBookingEndDate)</td>
                <td>@Html.DisplayFor(modelItem => booking.Status)</td>
                <td>
                    <button onclick="openModal('@Url.Action("Approve", "Booking", new { bookingId = booking.BookingId })', 'crudModal1')" class="btn @btnClass btn-sm pr-0" @isDisabled>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" /></svg>
                    </button>
                    <button onclick="openModal('@Url.Action("Disapprove", "Booking", new { bookingId = booking.BookingId })', 'crudModal1')" class="btn @disapproveBtnClass btn-sm pr-0" @isDisabled>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" /></svg>
                    </button>
                    @* <button onclick="openModal('@Url.Action("Edit", "Booking", new { bookingId = booking.BookingId })', 'crudModal1')" class="btn btn-warning btn-sm">Edit</button> *@
                    @* <button onclick="openModal('@Url.Action("Delete", "Booking", new { bookingId = booking.BookingId })', 'crudModal1')" class="btn btn-danger btn-sm">Delete</button> *@
                </td>
                <td>
                        <svg onclick="openModal('@Url.Action("View", "Booking", new { bookingId = booking.BookingId })', 'crudModal1')" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z" /></svg>
                </td>

            </tr>
        }
    </tbody>
</table>

<style>
    .btn-approve-main {
        background-color: var(--color2);
    }
    .btn-approve-main svg path {
        fill: black;
    }
    .btn-disapprove-main svg path {
        fill: white; 
    }
    .btn-disapprove-main {
        background-color: var(--color1);
    }
    svg {
        width: 15px;
        margin-right: 8px;
    }
</style>