@model IEnumerable<ASI.Basecode.Services.ServiceModels.RoomViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Add Room</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.Type)</th>
            <th>@Html.DisplayNameFor(model => model.Location)</th>
            <th>Show Amenities</th> <!-- New column for button to show amenities -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => room.Name)</td>
                <td>@Html.DisplayFor(modelItem => room.Description)</td>
                <td>@Html.DisplayFor(modelItem => room.Type)</td>
                <td>@Html.DisplayFor(modelItem => room.Location)</td>
                <td>
                    <!-- Button to toggle dropdown visibility -->
                    <button type="button" class="btn btn-info" onclick="toggleDropdown('dropdown-@room.RoomId')">
                        Show Amenities
                    </button>

                    <!-- Dropdown menu, hidden by default -->
                    <select id="dropdown-@room.RoomId" class="form-select" style="display: none;" disabled>
                        @foreach (var amenity in room.RoomAmenitiesName)
                        {
                            <option>@amenity</option>
                        }
                    </select>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { RoomId = room.RoomId }) |
                    @Html.ActionLink("Delete", "Delete", new { RoomId = room.RoomId }) |
                    @Html.ActionLink("View", "View", new { RoomId = room.RoomId })
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function toggleDropdown(dropdownId) {
        var dropdown = document.getElementById(dropdownId);
        if (dropdown.style.display === "none") {
            dropdown.style.display = "block";
        } else {
            dropdown.style.display = "none";
        }
    }
</script>
